body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
}

/* Default - Font, Imges, Color */
.default-color-y {
  color: #FF7C00;
}

.bg-grey-img {
  background-image: url(./src/hero.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

/* Text - Font*/
.m-title {
  font-weight: 500;
  font-size: 57px;
  line-height: 68px;
  display: flex;
  align-items: center;
  color: #000000;
}

.max-1000-auto {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.max-1440-auto {
  max-width: 1440px;
  margin: auto; 
}

/* Nav */
.btn-yellow-nav {
  display: flex;
  padding: 7px 9px;
  color: white;
  background: #FF7C00;
  align-items: center;
}

.hero {
  padding-top: 167px;
  padding-bottom: 190px;
}

.hero h2 {
  max-width: 669px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.hero .btn {
  margin-top: 95px;
  width: 345px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  background: linear-gradient(87.22deg, #FF6B00 0%, #FF9900 95.89%);
  box-shadow: 0px 6px 30px rgba(255, 153, 0, 0.23), inset 0px -2px 2px #7B3400;
  border-radius: 40px;
}

#img-desk {
  display: block;
}

#img-mobile {
  display: none;
}



/* Section 2 */

.section-2-r {
  max-width: 580px;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
  padding: 38px 0 42px 49px;
}

.contents {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}


/* Section 3 */
.section-3 {
  padding-bottom: 50px;
}

.section-3 title {
  font-size: 35px;
  line-height: 41px;
}

.col-ul {
  max-width: 450px;
}

.section-3 li {
  display: flex;
  align-items: center;
  max-width: 362px;
  font-weight: 500;
  line-height: 110%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.section-3 li span {
  margin-right: 24px;
}

.section-4 {
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url(./src/Frame2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-4 .item {
  max-width: 372px;
  margin: 52px;
  background: #1E1914;
  border: 1px solid #FF7C00;
  text-align: center;
  box-shadow: 14px 12px 30px rgba(0, 0, 0, 0.76);
}

.section-4 .btn {
  line-height: 26px;
  color: white;
  padding: 27px 36px;
  background: linear-gradient(87.32deg, #FF6F00 0.89%, #FF9900 98.08%);
  box-shadow: 0px 10px 20px rgba(255, 124, 0, 0.26), inset 0px -4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: 44px 39px;
}

.section-4 .item h1 {
  padding-top: 47px;
  font-size: 40px;
  line-height: 47px;

  color: #FF7C00;
}

.section-4 .item p {
  font-size: 24px;
  line-height: 135%;
  padding: 41px 0px;
}

.bg-gift {
  background-image: url(./src/gift.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mb-120 {
  margin-bottom: 120px;
}

.section-6 {
  justify-content: center;
}

.section-6 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  justify-content: center;
}

.section-6 .news-item {
  margin-top: 20px;
  max-width: 372px;
  padding: 40px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.section-6 img {
  padding-bottom: 24px;
}

.discount {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.discount span {
  color: #FF7C00;
}

.default-btn-md {
  height: 50px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 12px 40px;
  background: linear-gradient(87.32deg, #FF6F00 0.89%, #FF9900 98.08%);
  box-shadow: 0px 10px 20px rgba(255, 124, 0, 0.26), inset 0px -4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}


.contactus {
  background-image: url(./src/contactbg.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactus>div {
  max-width: 550px;
}

.contactus input,
.contactus textarea {
  background: #303030;
  color: #757272;
}

.contactus .form .input-group {
  max-width: 500px;
}

.contactus h1 {
  font-weight: 500;
  font-size: 57px;
  line-height: 68px;
}

.contactus h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}

.btn-tg-mail {
  border: 2px solid #FF7C00;
  border-radius: 50px;
  width: 273px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.btn-tg-mail span {
  background: linear-gradient(87.32deg, #FF6F00 0.89%, #FF9900 98.08%);
  box-shadow: 0px 5px 20px rgba(255, 124, 0, 0.26), inset 0px -4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 47px;
  height: 47px;
}
.space-contact {
  height: 80px;
}

footer {
  padding-top: 46px;
  padding-bottom: 74px;
}

.contact-footer img {
  margin-right: 25px;
}
@media (max-width: 992px) {
  #img-desk {
    display: none;
  }

  #img-mobile {
    display: block;
  }

  .max-1000-auto {
    justify-content: center;
  }

  .space-contact {
    height: 26px;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 26px;
  }
  .contact-footer  {
    flex-direction: column;
  }
  .contact-footer img {
    margin-right: 18px;
  }
}